            -------------------------------------------------
            Resolving Protoc Artifact From Maven Central Repo
            -------------------------------------------------

~~ APT Format: http://maven.apache.org/doxia/references/apt-format.html

Resolving Protoc Artifact From Maven Central Repo

* Overview

  Starting with versions <<<2.6.1>>> and <<<3.0.0-alpha-2>>> of <<<protoc>>>, its binary executables
  for all major operating systems are available as artifacts in Maven central.
  These artifacts can be referenced in plugin configuration as described below.
  The plugin automatically resolves and downloads the <<<protoc>>> executable,
  and uses it for compiling protobuf definitions.

* Usage

  It is recommended to use {{{https://github.com/trustin/os-maven-plugin} os-maven-plugin}} to automatically
  generate a classifier for the current OS and architecture. The same plugin is used by protobuf team at Google
  to generate classifiers for <<<protoc>>> artifacts.

  Plugin parameter <<<protocArtifact>>> can be used for specifying artifact coordinates in a
  <<<groupId:artifactId:version\[:type\[:classifier\]\]>>> format.

  A sample configuration is provided below:

+-----+

<project>
  ...
  <build>
    <extensions>
      <extension>
        <groupId>kr.motd.maven</groupId>
        <artifactId>os-maven-plugin</artifactId>
        <version>1.3.0.Final</version>
      </extension>
    </extensions>
    <plugins>
      <plugin>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
        <extensions>true</extensions>
        <executions>
          <execution>
            <goals>
              <goal>compile</goal>
              <goal>test-compile</goal>
            </goals>
            <configuration>
              <protocArtifact>com.google.protobuf:protoc:2.6.1:exe:${os.detected.classifier}</protocArtifact>
            </configuration>
          </execution>
        </executions>
      </plugin>
      ...
    </plugins>
    ...
  </build>
  ...
</project>

+-----+
